<div style="background-color:rgb(82, 2, 15,0.7);" class="jumbotron">
    <div class="container">
        <h1>Welcome to Handlebars</h1>
        <p>This is signup or signin page</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Enter Registration Information</legend>

                <div class="form-group">
                    <label for="first_name"><em>First Name</em></label>
                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label for="last_name"><em>Last Name</em></label>
                    <input type="text" class="form-control" name="last_name" id="first_name" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="email"><em>Email Address</em></label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email Address">
                </div>

                <div class="form-group">
                    <label for="pw"><em>Password</em></label>
                    <input type="password" class="form-control" name="pw" id="pw">
                </div>

                <div class="form-group">
                    <label for="pw_confirm"><em>Confirm Password</em></label>
                    <input type="password" class="form-control" name="pw_confirm" id="pw_confirm">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                <footer class="page-footer font-small blue">
                    <!-- Copyright -->
                    <br><br>
                    <div class="footer-copyright text-center py-2 bg-success bg-gradient">ISHAN SHAH:
                        <a href="https://mdbootstrap.com/">19CE134</a>
                    </div>
                    <!-- Copyright -->
                </footer>
            </form>
        </div>
    </div>
</div>