<div style="background-color:rgb(245, 90, 29);" class="jumbotron">
    <div class="container">
        <h1>{{first_name}} {{last_name}}!</h1>
        <p>You are registered with an email:{{email}}</p>
        <p>Well done Guys!</p>
    </div>
</div>